@model Spice.Models.ViewModels.SubCategoryAndCategoryViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-info">Edit Sub Category</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage">

    <div class="backgroundWhiteBorder row">
        <div class="col-8 border-right">
            <form method="post" asp-controller="SubCategories" asp-action="Edit">
                <input type="hidden" asp-for="SubCategory.CategoryId"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label">Category Name</label>
                    </div>
                    <div class="col-5">
                        <select id="SelectCateogory" asp-for="SubCategory.CategoryId" disabled class="custom-select form-control">
                            @foreach (var s in Model.Categories) {
                                <option value=@s.Id>@s.Name</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SubCategory.SubCategoryName" class="col-form-label">Name</label>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control" asp-for="SubCategory.SubCategoryName"
                               placeholder="Enter Name">
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-5 offset-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-info" asp-action="Index">Back to list</a>
                    </div>
                </div>

                <span asp-validation-for="SubCategory.SubCategoryName" class="text-danger"></span>
            </form>
        </div>

        <div class="col-3 offset-1">
            @if (Model.SubCategoriesExist.Count() > 0) {
                <p>Sub Categories Exist</p>
                <div id="SubCategoriesExist"></div>
            }
            else {
                <p>No Sub Categories Exist</p>
            }
        </div>

    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            var UpdateCategory = () => {
                var CategoryId = document.getElementById('SelectCateogory').value;
                $CategoriesExist = $('#SubCategoriesExist');
                $.ajax({

                    url: '/Admin/SubCategories/GetSubCategoriesExist/' + CategoryId,
                    type: 'GET',
                    dataType: 'text',
                    success: (data) => {
                        var results = JSON.parse(data);
                        $CategoriesExist.html('');
                        console.log(results);
                        $CategoriesExist.append('<ul class="list-group">');
                        for (var item of results) {
                            $CategoriesExist.append(`<li class="list-group-item">${item.subCategoryName}</li>`);
                        }
                        $CategoriesExist.append('</ul>');
                    }
                })
            }

            $('document').ready(() => {

                UpdateCategory();
            });
        </script>
    }
