@model IEnumerable<SubCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}
@section Navbar {
    <partial name="_NavbarPartialView" model=@("SubCategories") />
}
<style>
    td {
        font-size: 1.2rem;
    }
</style>
<br />

    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Sub Category List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-action="Create">Create Sub Category</a>
        </div>
    </div>

    <div>
        @if (Model.Count() > 0) {
        <table class="table">
            <thead class="thead-dark">
                <th>
                    Sub Category Name
                </th>
                <th>
                    Category Name
                </th>
                <th>
                </th>
            </thead>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.SubCategoryName</td>
                    <td>@item.Category.Name</td>
                    <td class="text-right">
                        <partial name="_GroupButtonPartial" model=@item.Id />
                    </td>
                </tr>

             }
        </table>
        }
        else {
        <p>Sub Category list is empty</p>
        }
    </div>
