@model Spice.Models.ShoppingCart;
@{
    ViewData["Title"] = "Detail";
}

<div class="backgroundWhiteBorder">
    <div class="row">
        <form class="col-8" method="post" asp-controller="Home" asp-action="Detail">
            <input type="hidden" asp-for="MenuItem.CategoryId" >
            <input type="hidden" asp-for="MenuItem.SubCategoryId">
            <input type="hidden" asp-for="MenuItemId" >
            <input type="hidden" asp-for="MenuItem.Id">
            <div>
                <div class="form-group row">
                    <div class="col-2">
                        <label class="col-form-label">Item Name</label>
                    </div>
                    <div class="col-7 offset-1">
                        <input readonly type="text" class="form-control" asp-for="MenuItem.ItemName">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label class="col-form-label">Description</label>
                    </div>
                    <div class="col-7 offset-1">
                        <textarea readonly asp-for="MenuItem.description" class="form-control"></textarea>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label class="col-form-label">Price</label>
                    </div>
                    <div class="col-7 offset-1">
                        <input readonly type="number" class="form-control" asp-for="MenuItem.Price" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label">Category Name</label>
                    </div>
                    <div class="col-7">
                        <select disabled readonly class="custom-select">
                            <option selected>@Model.MenuItem.Category.Name</option>
                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label">Sub Category Name</label>
                    </div>
                    <div class="col-7">
                        <select disabled readonly class="custom-select">
                            <option selected>@Model.MenuItem.SubCategory.SubCategoryName</option>
                        </select>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label">Spicy</label>
                    </div>
                    <div class="col-7">
                        <select disabled asp-for="MenuItem.Spicyness"
                                asp-items="Html.GetEnumSelectList<MenuItem.ESpice>()" class="form-control">
                        </select>

                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label">Count</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Count" type="number" value="1" class="form-control" min="1">
                    </div>
                </div>
                <div style="margin:0 auto; text-align: center; padding-top : .5rem">
                    <input type="submit" class="btn btn-danger" value="Add To Cart"/>
                    <a class="btn btn-info" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>

        <div class="col-3">
            <img height="200px" width="200px" src="@Model.MenuItem.Image" alt="Alt"/>
        </div>
    </div>


</div>